*{
	box-sizing: inherit;
}

html body{
	font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
	box-sizing: border-box;
	display: block;
	overflow-x: hidden;
	background-color: #fff;
}

body {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 15px;
    line-height: 1.5;
	margin: 0;
}

div {
	display: block;
}


.img {
  width: 100%;
  height: auto;
}

.bottom-left {
	font-family: "Playfair Display";
	letter-spacing: 5px;
	margin-top: 16px!important;
	text-align: center!important;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	color: #FFD523!important;
    background-color: #000!important;
	padding: 8px 16px!important;
	font-size: 2.5em;
}


nav {
	top: 0;
	position: fixed;
	padding: 8px 16px;
	letter-spacing: 4px;
    background-color: #fff;
	box-shadow: 2px 5px #d6d6d6;
	width: 100%;
	z-index: 2;
}

#logo {
	top: 50%;
	left: 9%;
	position: absolute;
	transform: translate(-50%, -50%);
}

#right {
	float: right;
}

.button {
    float: left;
    cursor: pointer;
	line-height: 50px;
}

.button:link {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.button:visited {
	color: #FFC000;
}

.button:hover {
  background-color: grey;
  transition-duration: 0.4s;
}


article {
	padding: 8px 16px!important;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: auto;
}

.proj {
	padding-top: 32px!important;
    padding-bottom: 32px!important;
	padding: 0.01em 16px;
}
	
#proj {
	border-color: #f1f1f1!important;
	padding-top: 16px!important;
    padding-bottom: 16px!important;
	border-bottom: 1px solid #ccc!important;
	font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}	

.abt {
	margin-left: 5%;
	display: flex;
	align-items:center;
}

video {
	width: 40%;
}

.item {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
}


h3 {
	font-size: 24px;
}

.margin {
	margin-left: 10%;
	margin-right: 5%;
}

#modern {
	justify-content:center;
	display:flex;
	font-family: fantasy;
	letter-spacing: 5px;
	font-size: 25px;
}

.dropdown {
  display: inline-block;
   transition: transform .6s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: px;
  box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   transition: transform .6s;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: transform .6s;
}

.desc {
  font-weight: bold;
  padding: 15px;
  text-align: center;
   transition: transform .6s;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  position: relative;
}

.topleft {
	color: #fff!important;
    background-color: #000!important;
    padding: 8px 16px!important;
    position: absolute;
    left: 0;
    top: 0;
}

#p1 {
	color: #fff!important;
    background-color: #000!important;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    text-align: center!important;
	margin-bottom: 4%;
}

#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

#navlist li, #navlist a {
  height: 35px;
  display: block;
}

#facebook {
  background: url('images/icon.png') no-repeat -182px -17px;
	left: 45%;
  width: 43px;
  bottom: 43px;
  transform: scale(2);
}

#facebook:hover {
  background: url('images/icon.png') no-repeat -182px -91px;
	left: 45%;
  width: 43px;
  bottom: 43px;
  transform: scale(2.5);
}

#in {
  background: url('images/icon.png') no-repeat -354px -16px;
	left: 55%;
	width: 43px;
	height: 43px;
	transform: scale(2);
}

#in:hover{
  background: url('images/icon.png') no-repeat -354px -91px;
	left: 55%;
	width: 43px;
	height: 43px;
	transform: scale(2.5);
}


iframe {
	 display: block;
  margin-top: 10%;
}

#p {
	color: #fff!important;
    background-color: #000!important;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    text-align: center!important;
	margin-bottom: 0%;
}



